<div>
    <h1>SHIPMENT TABLE </h1>
    <input type="text" placeholder="search by id or sender" [(ngModel)]="searchText" />
    <button (click)="sortingByAsc()">Sort By Asc</button>
    <button (click)="sortingBydesc()">Sort By Desc</button>
    <button [routerLink]="['/add']">Add New Shipment</button>
    <table border="1px" >
       <thead>
         <tr>
            <th>Id</th>
            <th>Sender</th>
            <th>Receiver</th>
            <th>Origin</th>
            <th>Destination</th>
            <th>Status</th>
            <th>Expected Delivery</th>
            <th>View Shipment</th>
            <th>Edit Shipment</th>
            <th>Delete Shipment</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let shipment of filteredShipments$ | async | filter : searchText">
            <td>{{shipment.id}}</td>
            <td>{{shipment.sender}}</td>
            <td>{{shipment.receiver}}</td>
            <td>{{shipment.origin}}</td>
            <td>{{shipment.destination}}</td>
            <td>{{shipment.status}}</td>
            <td>{{shipment.expectedDelivery}}</td>
            <td><button [routerLink]="['/view/',shipment.id]">View</button></td>
            <td><button [routerLink]="['/update/',shipment.id]">Edit</button></td>
            <td><button (click)="deleteShipment(shipment.id)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>