<div>
  <form [formGroup]="addForm" (ngSubmit)="OnSubmit()">
      <div>
        <label for="sender">Sender:</label>
        <input type="text" id="sender" formControlName="sender">
          <div *ngIf="addForm.get('sender')?.invalid && addForm.get('sender')?.touched || addForm.get('sender')?.dirty" >
            <div *ngIf = "addForm.get('sender')?.errors?.['required']"> Sender is Required </div>
          </div>
      </div>
  
      <div>
         <label for="receiver">Receiver:</label>
         <input type="text" id="receiver" formControlName="receiver">
          <div *ngIf="addForm.get('receiver')?.invalid && addForm.get('receiver')?.touched">
            <div *ngIf="addForm.get('receiver')?.errors?.['required']"> Receiver is Required</div>
            <div *ngIf="addForm.get('receiver')?.errors?.['minlength']">Minimum Length is Three</div>
          </div>
       </div>

      <div>
        <label for="origin">Origin:</label>
        <input type="text" id="origin" formControlName="origin">
        <div *ngIf="addForm.get('origin')?.invalid && addForm.get('origin')?.touched" >
          <div *ngIf="addForm.get('origin')?.errors?.['required']">Origin Is required</div>
          <div *ngIf ="addForm.get('origin')?.errors?.['minlength']">Minimum Length is one</div>
        </div>
        
      </div>  
      
      <div>
        <label for="destination">Destination:</label>
        <input type="text" id="destination" formControlName="destination">
        <div *ngIf="addForm.get('destination')?.invalid && addForm.get('destination')?.touched">
           <div *ngIf="addForm.get('destination')?.errors?.['required']">Destination is Required</div>
           <div *ngIf="addForm.get('destination')?.errors?.['minlength']">Min Length is Two</div>
        </div>
      </div> 

 


      <div>
        <label for="condition">Status:</label>
        <select formControlName="status">
            <option *ngFor="let option of shipmentStatus" [value]="option">{{ option }}</option>
        </select>
       
      </div>

      <div>
        <label for="expectedDelivery">Expected Delivery</label>
        <input type="text" id="expectedDelivery" formControlName="expectedDelivery">
        <div *ngIf="addForm.get('expectedDelivery')?.invalid && addForm.get('expectedDelivery')?.touched">
          <div *ngIf="addForm.get('expectedDelivery')?.errors?.['required']"> Expected Delivery Is Required.</div>
          <div *ngIf="addForm.get('expectedDelivery')?.errors?.['invalids']"> Date Should Be In YYYY-DD-MM</div>
        </div>
      </div>
      <button type="submit" [disabled]="addForm.invalid">ADD FORM</button>
  </form>
</div>
<p *ngIf="successMsg">Inserted Successfully</p>
   